@import "tailwindcss";
@import "./centoui.css";
@import "./prose.css";

@source "../../../content/**/*";

@theme inline {
  --font-sans: 'Bricolage Grotesque', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

@layer base {
  html {
    @apply scrollbar-thin scrollbar-thumb-accent scrollbar-track-transparent scroll-smooth
  }
}

@layer components {
  .prose-docs {
    --prose-font-body: var(--font-sans);
    --prose-font-heading: var(--font-sans);
    --prose-font-mono: var(--font-mono);
    --prose-font-size: 16px;
    --prose-line-height: 1.75;
    --prose-spacing: 1em;
  }
}

.fade-out-in-enter-active,
.fade-out-in-leave-active {
  transition: all 300ms ease;
}

.fade-out-in-enter-from,
.fade-out-in-leave-to {
  opacity: 0;
}

.fade-out-in-enter-to,
.fade-out-in-leave-from {
  opacity: 1;
}